*{
    background-color: gray;

h1{
    color: red;
    font-size: 100px;
}

.navegacion{
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
}



li a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 20px;
}

ul:nth-child(1){
    color: blue;
}

li:hover{
    font-size: 200px;
}

.lorem::first-letter{
    font-size: 50px;
    color: paleturquoise;
}

.caja{
    border: 10px solid black;
    padding: 20px;
    margin: 100px;
}

}